Math functions

In [3]:
#import what you need
import math

In [4]:
40+2

42

In [5]:
43-1

42

In [6]:
6*7

42

In [7]:
6/7

0.8571428571428571

In [8]:
6%7

6

In [9]:
10**2

100

In [10]:
10^2

8

In [11]:
84/2

42.0

In [126]:
#floor division and modules
minutes = 105
minutes /60

1.75

In [129]:
#floor division (//) divides to numbers and rounds down (hence 'floor') to the integer
hours = minutes // 60
hours

1

In [135]:
#modulus--divides two numbers and returns remainder (100 % 30 == 100/30== 3 with a remainder of 10)
100 % 30

10

In [12]:
##values and types
type(2)

int

In [13]:
type(42.1)

float

In [14]:
type('Hello_world')

str

In [15]:
#what is the type for '42.0' and '2'?  Try it now
type('42.0')

str

In [16]:
type('2')

str

In [17]:
#How do you enter 1,000,000?

## Programming languages are formal languages designed to express computations

In [18]:
-2

-2

In [19]:
2+2

4

In [20]:
1++1

2

In [21]:
2++2

4

In [22]:
02

SyntaxError: invalid token (<ipython-input-22-0908cbeb2fbd>, line 1)

In [23]:
#error, try it
02+1

SyntaxError: invalid token (<ipython-input-23-739a1ecdc9a7>, line 2)

497471

## Assignment

In [24]:
cat = 5

In [25]:
hat = 3

In [26]:
cat+hat

8

In [27]:
cat = 9

In [28]:
cat + hat

12

In [29]:
cat = (1, 2, 3)

In [32]:
cat

(1, 2, 3)

In [33]:
cat(1) = 4

SyntaxError: can't assign to function call (<ipython-input-33-811e3066f30c>, line 1)

In [34]:
cat = [1, 2, 3]

In [36]:
cat[1] = 4

In [40]:
cat

[1, 4, 3]

TypeError: can only concatenate list (not "int") to list

In [43]:
print (cat)

[1, 4, 3]

In [44]:
cat + 7

TypeError: can only concatenate list (not "int") to list

In [45]:
miles = 26.2

In [46]:
km =miles * 1.61

In [48]:
print (km)

42.182

In [53]:
print ("A marathon is %d miles and %d kilometers.") % [miles, km]

A marathon is %d miles and %d kilometers.

TypeError: unsupported operand type(s) for %: 'NoneType' and 'list'

In [55]:
print (1)
x = 2
print (x)

1
2

In [56]:
'eggs'-'easy'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [57]:
'green'+'eggs'+'ham'

'greeneggsham'

In [58]:
'green '+'eggs '+'ham '

'green eggs ham '

In [59]:
'green' *3

'greengreengreen'

# Comments

In [60]:
#print ('this will not print, try it')

In [125]:
#docstring comments
"""
This is an example of a docstring comment.
This tells the programmer/user what the function
or program does and is not executed by Python.
"""

'\nThis is an example of a docstring comment.\nThis tells the programmer/user what the function\nor program does and is not executed by Python.\n'

#errors

In [64]:
#Here is a Non Syntax Error follow Syntax Error
print (1+ 2)

3

In [65]:
#Here is a Syntax Error--Syntax Errors refer to the structure of the error 
8)

SyntaxError: invalid syntax (<ipython-input-65-a39d85bf04f1>, line 2)

In [66]:
#2 Other Error Types: Runtime and Syntax
Runtime Error--Error which appears after the program begins running
Semantic Error-There is an error but not

SyntaxError: invalid syntax (<ipython-input-66-e485a31ad72f>, line 2)

In [71]:
#not okay
42= n

SyntaxError: can't assign to literal (<ipython-input-71-acd8ce002d33>, line 2)

In [73]:
#okay
x = y = 1

### Simple Functions

In [74]:
int ('32')

32

In [75]:
str(32)

'32'

In [76]:
int(3.2)

3

In [77]:
float(3)

3.0

In [79]:
#import the math module (remember that module is a file of related functions)
import math

In [82]:
#create a module object (module object contains the function and variables defined in the module)
math

In [83]:
#example of dot notation ()--find the sins of radians
degrees = 45 
radians = degrees/ 180.0 * math.pi
math.sin(radians)

0.7071067811865475

In [85]:
#write a more original function
#def is a keyword that indicates a function definition
def print_lyrics():
    print ("I'm a lumberjack, and I'm okay.")
    print ("I sleep all night and I work all day.")

In [86]:
# Try it in the REPL; don't forget to indent.

In [88]:
print (print_lyrics)

<function print_lyrics at 0x1067dec80>

In [89]:
type (print_lyrics)

function

In [91]:
#call it!
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [92]:
#A function within a function--no way!
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [93]:
#Call it!
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [98]:
#check out a function with an argument inside the () called a paramater.
def print_twice(bruce):
    print (bruce)
    print(bruce)

In [100]:
print_twice('eggs')

eggs
eggs

In [101]:
print_twice(42)

42
42

In [102]:
#let's get fancy
print_twice ('Cheese ' * 4)

Cheese Cheese Cheese Cheese
Cheese Cheese Cheese Cheese

In [103]:
max = "I am Max.  Who are you?"
print_twice(max)

I am Max.  Who are you?
I am Max.  Who are you?

##local variable--variable inside a Function

In [118]:
def cat_twice( part_1, part_2): 
    cat = part_1 + part_2 
    print_twice(cat)

In [119]:
print_twice(cat)

[1, 4, 3]
[1, 4, 3]

In [130]:
#notice the space ibnside hello
part_1 = 'Hello '
part_2 = 'World'
cat_twice(cat)

TypeError: cat_twice() missing 1 required positional argument: 'part_2'

In [136]:
## booleans

In [139]:
#easy math booleans
7 == 7

True

In [140]:
#whoops
7 == 6

False

In [141]:
#type it out
type(False)

bool

In [142]:
a = 7

In [143]:
b = 6

In [144]:
a != b

True

In [145]:
a >= b

True

In [146]:
a > b

True

In [147]:
a < b

False

In [148]:
b < a

True

In [149]:
b <= a

True

In [153]:
a or B

7

## Logical Operators -- and or not

In [201]:
3 + 1 == 4 and 1 + 1 == 2

True

In [202]:
3 + 1 == 4 or 1 + 1 == 2

True

In [203]:
3+ 1 == 4 or 1 -1 == 2

True

In [204]:
3 is not 4

True

In [205]:
4 is 4

True

In [207]:
4 is not 4

False

In [208]:
if x > 0:
    print ('x is positive')

x is positive

# A tuple is a comma separated value list

In [156]:
#this is a tuple
t = 1, 2, 3, 'a', 'b'

In [155]:
t

(1, 2, 3, 'a', 'b')

In [157]:
#it is common but not required to enclose a tuple in parenthesis

In [158]:
t = (4, 5, 6)

In [160]:
print (t)

(4, 5, 6)

In [161]:
t(0) == 1

TypeError: 'tuple' object is not callable

In [164]:
#there's a builtin for that!
t = tuple()
#makes an empty tuple!
t

()

In [165]:
t = tuple ('hello')

In [166]:
# 
t

('h', 'e', 'l', 'l', 'o')

In [170]:
# index an element
t[1]

'e'

In [171]:
#slice it
t[1:3]

('e', 'l')

In [173]:
#modify it; I dare you!
t[2] = 'p'

TypeError: 'tuple' object does not support item assignment

In [177]:
#replace 'A' with 'h' in tuple
t = ('A',) + t[1:]

In [178]:
t

('A', 'e', 'l', 'l', 'o')

In [182]:
# 1 > 0, so it ends the operation.
(0, 1, 2) < (1, 0, 9)

True

In [190]:
#-5 ! < 0.  End op.
(0, 1, 2) < (-5, 4, 9)

False

In [192]:
#zip it.
a = 1, 2, 3
T = [1, 2, 3]

In [193]:
#zip it good.
zip (a, T)

In [199]:
#zip is a way to iterate over pairs!  Try it now
for pair in zip(a, T):
    print (pair)

(1, 1)
(2, 2)
(3, 3)

In [200]:
#write your own

In [218]:
x = 7
y = 6

if x <= y:
    print ('lil X')
else:
    print ('Big X')

Big X